* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Audiowide', cursive, sans-serif;
    background-color: #aaaeff;
}

.section-one {
    position: relative;
    display: none;
    overflow: auto;
}

.section-one-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: #c3dff3;
    border-radius: 50px;
    margin: 30px 0;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.image {
    height: auto;
    width: auto;
    /* transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5); */
}

#background {
    position: relative;
    width: 100%;
    border-radius: 30px;
    border: 3px solid #c3dff3;
}

.apod-description {
    position: absolute;
    top: 40px;
    left: -100px;
    margin-right: 40px;
    padding: 20px;
    transition: 0.5s all;
    opacity: 0;
    background-color: rgba(252, 240, 235, .7);
    border-radius: 10px;
    overflow: hidden;
    transition: 2s ease;
}

.section-one:hover .apod-description {
    opacity: 1;
    top: 40px;
    left: 40px;
}

.main-h1 {
    background-color: rgba(252, 240, 235, .7);
    padding: 20px;
    border-radius: 20px;
    /* position: absolute; */
    /* top: 30%; */
    /* left: 50%; */
    color: #83878b;
    /* font-size: 3em; */
    /* transform: translate(-50%, 0); */
    /* z-index: 100; */
}

.image-small-loader {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: #c3dff3;
    border-radius: 50px;
    margin: 30px 0;
}

.image-small {
    display: none;
}

.image-small-visible {
    width: 100%;
}

.image-small img {
    width: 100%;
}

.mars-photo {
    border: 2px solid transparent;
    border-radius: 20px;
    width: 33%;
    height: 33%;
    display: inline-block;
}

.section-two {
    display: flex;
    justify-content: space-center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100vh; */
}

.show-more {
    width: 100%;
    height: 50px;
}